body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.finder {
  transform:
    perspective(1000px) translate3d(0px, -26px, 18px) rotateX(-15deg) scale3d(0.86, 0.75, 1) translateY(50px);
  border-radius: 5px;
  will-change: transform;
  transition: 0.4s ease-in-out transform;
}

.finder:hover {
  transform: scale3d(1, 1, 1);
}